@use "../../_master" as global;

.profile-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.profile-card {
  @include global.flex-column;

  img {
    height: 300px;
    width: 300px;
    border-radius: 2%;
    border: 2px solid global.$desc-color;
  }
}

.profile-metadata {
  text-align: left;
  margin-top: 20px;

  h2 {
    font-size: 1.7rem;
    margin-top: auto;
    margin-bottom: 15px;
    letter-spacing: 2px;

    &:first-child {
      letter-spacing: 0.7px;
    }
  }
}

.code-bar-container {
  h2 {
    margin-bottom: 0;
  }
}

// Hexagon shape health bar
.code-bar-filler {
  position: relative;
  width: 280px;
  height: 20px;
  background-color: rgb(112, 241, 112);
  margin-left: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  &::before {
    right: 100%;
    border-right: 10px solid rgb(112, 241, 112);
  }

  &::after {
    left: 100%;
    width: 0;
    border-left: 10px solid rgb(112, 241, 112);
  }
}

.bio-container {
  text-align: left;
  @include global.flex-column;
}

.bio-content {
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}

.bio-text {
  p {
    margin: 0;
    animation: fadeIn 1s linear forwards;

    &:last-child {
      animation: fadeIn 2.3s linear forwards;
    }
  }
}

.stats-container {
  ul {
    padding: 0;
    margin-top: 10px;
    columns: 2;
  }
}

.stat-item {
  font-size: 14px;
  margin: auto 0;
  margin-right: 15px;
  height: 60px;
  padding-top: 5px;
}

.stat-data {
  width: 100%;
  display: flex;
  margin-bottom: 5px;

  .stat-left {
    margin-left: 0;
    margin-right: auto;

    img {
      height: 30px;
      width: 35px;
    }

    span {
      padding-left: 5px;
    }
  }

  .stat-right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1000px) {
  .profile-container {
    width: 90%;
  }

  .bio-content {
    width: 90%;
    font-size: 18px;

    p {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    margin-bottom: 10px;
  }

  .profile-container {
    @include global.flex-column;
  }

  .profile-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      height: 220px;
      width: 220px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .profile-metadata {
    margin: 0 auto;
    width: 220px;

    h2 {
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
  }

  .code-bar-filler {
    width: 200px;
  }

  .bio-container {
    margin-top: 10px;
  }

  .bio-text {
    p {
      font-size: 15px;
      letter-spacing: 0.5px;
    }
  }

  .stats-container {
    ul {
      width: 100%;
      margin-top: 25px;
    }
  }

  .stat-item {
    margin-right: 5px;
  }

  .stat-data {
    margin-bottom: 3px;
    font-size: 13px;
  }
}
