@use "../../_master" as global;

.profile-card {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;

  img {
    height: 300px;
    width: 300px;
    border-radius: 2%;
    border: 2px solid global.$desc-color;
  }
}

.profile-metadata {
  text-align: left;
  margin-left: 70px;

  h2 {
    margin-top: auto;
    margin-bottom: 0;
    letter-spacing: 0.7px;

    &:last-child {
      letter-spacing: 2px;
      margin-top: 15px;
    }
  }
}

.text-section {
  display: inline;
  text-align: left;

  p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
  }

  ul {
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
    columns: 3;
    padding: 0;
  }

  li {
    margin-top: 5px;
    padding: 0;
    font-size: 14px;

    &::before {
      content: "\2B9A";
      margin: 0 0.3em;
    }
  }
}

@media only screen and (max-width: 800px) {
  .about {
    margin-bottom: 10px;
  }

  .profile-card {
    width: 90%;
    margin-bottom: 15px;
    @include global.flex-column;

    img {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .profile-metadata {
    margin: 0 auto;
  }

  .text-section {
    p {
      margin-top: 0;
      width: 90%;
      font-size: 13px;
      letter-spacing: 0.5px;
    }

    ul {
      width: 90%;
    }

    li {
      margin-right: -15px;
      font-size: 13px;
    }

    li::before {
      margin: 0 0.2em;
    }
  }
}
