@use "../../_master" as global;

.about-content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  @include global.flex-align-center;

  img {
    height: 300px;
    width: 300px;
    border-radius: 2%;
    border: 2px solid #c5c6c7;
    margin-right: 25px;
  }
}

.text-section {
  width: 60%;
  margin: 0 auto;
  display: inline;

  p {
    margin-top: 25px;
    font-size: 18px;
  }

  ul {
    width: 100%;
    columns: 3;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 14px;

    &::before {
      content: "\2B9A";
      margin: 0 0.3em;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .about-content {
    img {
      height: 250px;
      width: 250px;
    }

    .text-section {
      width: 80%;

      p {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .about {
    margin-bottom: 10px;
  }

  .about-content {
    width: 100%;
    margin-top: 0;
    flex-direction: column;

    img {
      height: 180px;
      width: 180px;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .text-section {
    p {
      margin-top: 0;
      font-size: 12px;
    }

    ul {
      width: 100%;
    }

    li {
      margin-right: -15px;
      font-size: 12px;
    }

    li::before {
      margin: 0 0.2em;
    }
  }
}
