@use "../../master" as global;

.loader-wrapper {
  margin: auto;
  position: relative;
  display: block;
  width: 20rem;
  height: 2.2rem;
  border: 4px solid white;
  border-radius: 25px;
}

.filler {
  height: 100%;
  @include global.flex-align-center;

  span {
    margin: auto;
  }
}
