@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply text-black font-semibold text-xl rounded-full block w-full dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 border-4 focus:ring-blue-500 focus:border-blue-500;
  }

  .themed-text {
    @apply text-black dark:text-white;
  }

  .link-item {
    @apply rounded md:bg-transparent md:p-0 hover:text-teal-300;
  }

  .social-btn {
    @apply themed-text hover:text-teal-300 flex items-center justify-center w-full px-4 py-2 text-sm border;
  }
}

#yeti {
  top: 15px;
  left: 3px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #719ece;
  width: 35px;
  height: 32px;
  margin-left: 15px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
  box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
  filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
  z-index: 9999;

  &::after,
  &::before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
  }

  &::before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #719ece;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
  }

  // Change facial expression of yeti on hover
  &:hover {
    .eye {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 0;
      box-sizing: border-box;
    }

    .mouth {
      margin-top: -12px;
    }

    .cheek {
      display: none;
    }
  }

  .eye {
    height: 7px;
    width: 7px;
    background: black;
    border-radius: 50%;
  }

  .eye1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: -4px;
    left: 10.5px;
  }

  .eye2 {
    position: relative;
    margin: 12px;
    top: -4px;
    left: -5px;
  }

  .cheek {
    height: 5px;
    width: 8px;
    background: rgb(253, 179, 192);
    border-radius: 50%;
  }

  .cheek1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: 4px;
    left: 12px;
  }

  .cheek2 {
    position: relative;
    margin: 12px;
    top: -14px;
    left: -9px;
  }

  .mouth {
    width: 26px;
    height: 5px;
    color: black;
    font-size: 7px;
    letter-spacing: -0.8px;
    margin: 0 auto;
    margin-top: -29px;
    transform: scale(1.5, 1);
  }
}

// @media only screen and (max-width: 800px) {
//   #yeti {
//     top: 20px;
//   }
// }
