@use "../../_master" as global;

.contact-content {
  @include global.flex-align-center;
  margin-bottom: 25px;
  width: 100%;
}

form {
  @include global.flex-column;
  margin: 0 auto;
  margin-left: -20px;
  width: 60%;

  input {
    height: 40px;
  }

  textarea {
    height: 75px;
    padding-top: 7px;
  }

  input,
  textarea {
    border: none;
    border-bottom: 1.2px solid rgb(104, 103, 103);
    width: 70%;
    margin: 15px auto;
    padding-left: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    background: whitesmoke;
  }

  input:focus,
  textarea:focus {
    outline: none !important;
    border-bottom-color: rgb(14, 180, 14);
  }

  button {
    background: global.$base-color;
    height: 50px;
    width: 140px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background: global.$success-color;
      transition: ease 0.6s;
    }
  }

  .submitMessage {
    color: global.$success-color;
    width: 80%;
    height: 20px;
    margin: 0 auto;
    display: inline-block;
  }
}

#slime {
  width: 250px;
  height: 230px;
  border-radius: 15% 50% 80% 50%;
  border: 1px solid green;
  background: rgb(119, 241, 119);
  transform: rotate(40deg);
  margin: 0 auto;
  margin-top: 150px;
  margin-left: auto;
  margin-right: 0;

  &::after {
    content: "";
    width: 80px;
    height: 50px;
    border-radius: 60%;
    position: absolute;
    z-index: 1000;
    transform: rotate(-18deg);
    left: 5px;
    top: 20px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgb(119, 241, 119) 100%
    );
  }

  .antenna {
    width: 300px;
    position: relative;
    z-index: 1;
    transform: rotate(-150deg) scale(7, 1.2);
    letter-spacing: -3px;
    margin-top: -10px;
    top: -35px;
    right: 215px;

    &::after {
      content: "";
      width: 5px;
      height: 30px;
      border-radius: 50%;
      background: rgb(112, 241, 112);
      position: absolute;
      z-index: 1000;
    }
  }

  .eye1,
  .eye2 {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: black;
    color: yellow;
    font-size: 5.7rem;
    line-height: 30px;
    transform: rotate(-310deg);
    padding: 17px 12px 0 0;
  }

  .eye1 {
    margin-left: 30px;
    margin-top: 80px;
    position: absolute;
    z-index: 10000;
  }

  .eye2 {
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
    z-index: 10;
  }

  .mouth {
    font-family: "Sriracha", cursive;
    font-weight: normal !important;
    color: black;
    position: absolute;
    z-index: 10000;
    transform: rotate(-45deg) scale(5.5, 1.5);
    margin-top: 110px;
    margin-left: 120px;
  }
}

@media only screen and (max-width: 800px) {
  .contact-content {
    flex-wrap: wrap;
    margin-bottom: 5px;
  }

  #slime {
    height: 100px;
    width: 110px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 20px;

    &::after {
      height: 30px;
      width: 50px;
    }

    .antenna {
      width: 10px;
      transform: rotate(-200deg) scale(4, 1.2);
      right: 15px;
      top: 5px;

      &::after {
        height: 20px;
        width: 5px;
        left: 25px;
        top: 0;
      }
    }

    .eye1,
    .eye2 {
      height: 23px;
      width: 23px;
      font-size: 2.4rem;
      line-height: 35px;
      padding: 0 5px 10px 3px;
    }

    .eye1 {
      margin-top: 35px;
      margin-left: 11px;
    }

    .eye2 {
      margin-top: 1px;
      margin-left: 50px;
      z-index: 100000;
    }

    .mouth {
      margin-top: 40px;
      margin-left: 60px;
      transform: rotate(-45deg) scale(3, 1.2);
    }
  }

  form {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 90%;

    input {
      font-size: 1rem;
      height: 35px;
    }

    input,
    textarea {
      margin: 10px auto;
      width: 80%;
      padding-left: 7px;
    }

    .submitMessage {
      margin-bottom: 15px;
    }

    button {
      margin-top: -5px;
    }
  }
}
