.about {
    min-height: 100vh;
    width: 100%;
    margin-top: 120px;
}

.about img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 25px;
}

.about ul {
    list-style-type: none;
}

.about ul li {
    display: flex;
    height: 27px;
    width: 600px;
    margin: 15px auto;
    border: 1px solid white;
    padding-right: 10px;
}

.proficiency {
    /* background: rgb(33, 203, 209); */
    width: 80%;
    text-align: right;
    font-size: 1.2rem;
}

.about ul li h3 {
    margin: auto 0;
    height: 100%;
    background: rgb(9, 139, 161);
    text-align: left;
    padding-left: 5px;
    width: 130px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    border-right: 2px solid white;
}

.about p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 30px;
}

.about h2 {
    color: rgb(21, 212, 107);
}
