#ploader {
  margin: auto;

  position: relative;
  height: 18em;
  width: 18em;
  overflow: hidden;
}

#ploader > div {
  width: 0px;
  height: 0px;
  animation: turn 5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

#ploader div div {
  width: 5em;
  height: 2em;
  background-color: #225;
  border-radius: 50% 0/100% 0;
  box-shadow: 0 0 2em #17e1e6;
  border: 0.1em solid #17e1e6;
  position: absolute;
  top: -5em;
  left: -0.5em;
  transform-origin: 0.5em 5em;
  animation: shade linear 1s infinite;
}

#ploader div :first-child {
  transform: rotate(45deg);
}

#ploader div :nth-child(2) {
  transform: rotate(90deg);
  animation-delay: -0.875s;
}

#ploader div :nth-child(3) {
  transform: rotate(135deg);
  animation-delay: -0.75s;
}

#ploader div :nth-child(4) {
  transform: rotate(180deg);
  animation-delay: -0.625s;
}

#ploader div :nth-child(5) {
  transform: rotate(225deg);
  animation-delay: -0.5s;
}

#ploader div :nth-child(6) {
  transform: rotate(270deg);
  animation-delay: -0.375s;
}

#ploader div :nth-child(7) {
  transform: rotate(315deg);
  animation-delay: -0.25s;
}

#ploader div :nth-child(8) {
  animation-delay: -0.125s;
}

@keyframes shade {
  0%,
  100% {
  }
  50% {
    box-shadow: 0 0 1em #e645d0;
    border-color: #e645d0;
  }
}

@keyframes turn {
  0% {
  }
  100% {
    transform: rotate(-360deg);
  }
}
