@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .light {
    background-color: #fffdfc;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .grid-list-cols {
    @apply grid grid-flow-col grid-rows-4 gap-x-24;
  }

  input,
  textarea {
    @apply my-4 pl-2 text-black dark:text-white font-semibold text-lg bg-transparent border-b-2 border-teal-600 dark:border-teal-400 block w-11/12 md:w-5/6 dark:placeholder-gray-400 focus:outline-none focus:bg-teal-400 dark:focus:bg-teal-700 focus:rounded focus:py-2;
  }

  .themed-text {
    @apply text-black dark:text-white;
  }

  span,
  h1,
  li,
  p {
    @apply themed-text font-semibold;
  }

  a,
  .link-item {
    @apply rounded md:bg-transparent md:p-0;
  }

  .themed-border {
    @apply rounded border-2 border-black dark:border-slate-100;
  }

  .highlight {
    @apply text-teal-600 dark:text-teal-400 border-teal-600 dark:border-teal-400;
  }

  .active-link {
    @apply highlight underline;
  }

  .success-text {
    @apply text-green-600 dark:text-green-700;
  }

  .error-text {
    @apply text-red-600 dark:text-red-700;
  }

  .contact-form {
    @apply bg-slate-100 dark:bg-neutral-900;
  }

  .about {
    section {
      &:first-child {
        span {
          @apply text-base md:text-lg;
        }

        strong {
          @apply dark:text-teal-300;
        }
      }
    }
  }

  h1,
  h2,
  a,
  .hover-highlight {
    &:hover {
      @apply highlight;
    }
  }

  button {
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f7f4ed;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

/* credit: https://www.youtube.com/watch?v=cxm5bCCa9OA&t=608s&ab_channel=OnlineTutorials */
.box {
  content: '';
  width: 600px;
  max-width: 90vw;
  height: 400px;

  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 600px;
    max-width: 95vw;
    height: 400px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 600px;
    max-width: 95vw;
    height: 400px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
}

#yeti {
  top: 15px;
  left: 3px;
  position: absolute;
  background: #ffffff;
  border: 1px solid #719ece;
  width: 35px;
  height: 32px;
  margin-left: 15px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
  box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
  filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
  z-index: 9999;

  &::after,
  &::before {
    content: ' ';
    bottom: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
  }

  &::before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #719ece;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
  }

  // Change facial expression of yeti on hover
  &:hover {
    .eye {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 0;
      box-sizing: border-box;
    }

    .mouth {
      margin-top: -12px;
    }

    .cheek {
      display: none;
    }
  }

  .eye {
    height: 7px;
    width: 7px;
    background: black;
    border-radius: 50%;
  }

  .eye1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: -6px;
    left: 9px;
  }

  .eye2 {
    position: relative;
    margin: 12px;
    top: -6px;
    left: -6px;
  }

  .cheek {
    height: 5px;
    width: 8px;
    background: rgb(253, 179, 192);
    border-radius: 50%;
  }

  .cheek1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: 3px;
    left: 10px;
  }

  .cheek2 {
    position: relative;
    margin: 12px;
    top: -16px;
    left: -9px;
  }

  .mouth {
    width: 14px;
    height: 5px;
    color: black;
    font-size: 7px;
    letter-spacing: -0.8px;
    margin: 0 auto;
    margin-top: -29px;
    transform: scale(1.5, 1);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
