.home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: black;
}

.home::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 30px;
    border-radius: 50%;
    box-shadow: 0px -100px 0px 90px rgb(240, 167, 72);
}

.home h1 {
    font-size: 2.4rem;
    color: rgb(4, 155, 4);
    line-height: 60px;
    text-shadow: 1px 1px #40eaf7;
    margin-top: 225px;
}

.circle {
    background: yellow;
    height: 170px;
    width: 120px;
    border-radius: 50%;
    margin: 0 -65px;
    margin-top: 225px;
    -webkit-box-shadow: -1px 1px 3px 3px whitesmoke;
    -moz-box-shadow: -1px 1px 3px 3px whitesmoke;
    box-shadow: -1px 1px 3px 3px whitesmoke;
    z-index: 1;
    background-repeat: repeat;
    animation: move 8s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-15px);
    }

    50% {
        background: black;
        -webkit-box-shadow: -1px 1px 3px 3px black;
        -moz-box-shadow: -1px 1px 3px 3px black;
        box-shadow: -1px 1px 3px 3px black;
    }

    75% {
        transform: translateX(-8px);
        background: yellow;
        -webkit-box-shadow: -1px 1px 3px 3px whitesmoke;
        -moz-box-shadow: -1px 1px 3px 3px whitesmoke;
        box-shadow: -1px 1px 3px 3px whitesmoke;
    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 700px) {
    .home::after {
        height: 35%;
        box-shadow: 0px -100px 0px 85px rgb(240, 167, 72);
    }

    .home h1 {
        font-size: 2rem;
    }

    .circle {
        height: 110px;
        width: 80px;
        margin: 0 -125px;
    }
}
