.contact {
    height: 100vh;
    position: relative;
    display: flex;
}

input,
textarea {
    border: none;
    border-bottom: 1.2px solid rgb(104, 103, 103);
    width: 80%;
    margin: 25px auto;
    padding: 0 0 5px 5px;
    font-size: 1.1rem;
}

input:focus,
textarea:focus {
    outline: none !important;
    border-bottom-color: rgb(14, 180, 14);
}

form {
    width: 600px;
    margin-right: auto;
    margin-top: 120px;
}

.contact button {
    background: rgb(10, 248, 137);
    height: 50px;
    width: 140px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 15px;
}

.contact button:hover {
    background: rgb(55, 55, 214);
    color: white;
    transition: ease 0.6s;
}

.submitMessage {
    color: rgb(10, 248, 137);
    width: 80%;
    height: 20px;
    margin: 0 auto;
    display: inline-block;
}

.slime {
    width: 200px;
    height: 180px;
    border-radius: 15% 50% 80% 50%;
    border: 1px solid green;
    background: rgb(119, 241, 119);
    transform: rotate(40deg);
    margin: 0 auto;
    margin-top: 300px;
}

.slime::after {
    content: "";
    width: 80px;
    height: 50px;
    border-radius: 60%;
    position: absolute;
    z-index: 1000;
    transform: rotate(-18deg);
    left: 5px;
    top: 20px;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgb(119, 241, 119) 100%
    );
}

.antenna {
    width: 300px;
    position: relative;
    z-index: 1;
    transform: rotate(-150deg) scale(7, 1.2);
    letter-spacing: -3px;
    margin-top: -10px;
    top: -35px;
    right: 215px;
}

.antenna::after {
    content: "";
    width: 5px;
    height: 30px;
    border-radius: 50%;
    background: rgb(112, 241, 112);
    position: absolute;
    z-index: 1000;
}

.contact .eye1,
.contact .eye2 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: black;
    color: yellow;
    font-size: 3.2rem;
    padding-left: 3px;
    vertical-align: middle;
    line-height: 50px;
    transform: rotate(-310deg);
}

.contact .eye1 {
    margin-left: 30px;
    margin-top: 60px;
    position: absolute;
    z-index: 10000;
}

.contact .eye2 {
    margin-top: 10px;
    margin-left: 90px;
    position: absolute;
    z-index: 10;
}

.contact .mouth {
    font-family: "Sriracha", cursive;
    font-weight: normal !important;
    color: black;
    position: absolute;
    z-index: 10000;
    transform: rotate(-45deg) scale(4.3, 1.3);
    margin-top: 70px;
    margin-left: 100px;
}

@media only screen and (max-width: 650px) {
    .contact {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .slime {
        height: 100px;
        width: 110px;
        margin-top: 130px;
        margin-bottom: -70px;
    }

    .slime::after {
        height: 30px;
        width: 50px;
    }

    form {
        margin: 0 auto;
        margin-top: 0;
        width: 90vw;
    }

    input {
        font-size: 1rem;
    }

    .contact .eye1,
    .contact .eye2 {
        height: 30px;
        width: 30px;
        font-size: 3rem;
        line-height: 45px;
    }

    .contact .eye1 {
        margin-top: 35px;
        margin-left: 11px;
    }

    .contact .eye2 {
        margin-top: 1px;
        margin-left: 50px;
        z-index: 100000;
    }

    .contact .mouth {
        margin-top: 40px;
        margin-left: 60px;
        transform: rotate(-45deg) scale(3, 1.2);
    }

    .antenna {
        width: 10px;
        transform: rotate(-200deg) scale(4, 1.2);
        right: 15px;
        top: 5px;
    }

    .antenna::after {
        height: 20px;
        width: 5px;
        left: 25px;
        top: 0;
    }
}

@media only screen and (max-height: 550px) {
    .slime {
        margin-top: 100px;
        margin-bottom: -60px;
    }

    input,
    textarea {
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .contact button {
        margin-top: 0;
    }

    .contact span {
        margin-bottom: 10px;
    }
}
