header {
    display: flex;
    width: 100vw;
}

header img {
    height: 50px;
    width: 55px;
    margin: auto 0;
    cursor: pointer;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

ul i {
    margin: auto 10px;
    font-size: 2rem !important;
    cursor: pointer;
}

ul i:hover {
    color: rgb(0, 255, 200);
    transition: ease-in 0.3s;
}
