header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  padding-top: 15px;
  margin-bottom: 25px;
}

#yeti {
  top: 3px;
  position: relative;
  background: #ffffff;
  border: 1px solid #719ece;
  width: 35px;
  height: 32px;
  margin-left: 15px;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));
  box-shadow: 0 1px 10px rgba(113, 158, 206, 0.8);
  filter: drop-shadow(0 1px 10px rgba(113, 158, 206, 0.8));

  &::after,
  &::before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
  }

  &::before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #719ece;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
  }

  // Change facial expression of yeti on hover
  &:hover {
    .eye {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 0;
      box-sizing: border-box;
    }

    .mouth {
      margin-top: -12px;
    }

    .cheek {
      display: none;
    }
  }

  .eye {
    height: 7px;
    width: 7px;
    background: black;
    border-radius: 50%;
  }

  .eye1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: -4px;
    left: 10.5px;
  }

  .eye2 {
    position: relative;
    margin: 12px;
    top: -4px;
    left: -5px;
  }

  .cheek {
    height: 5px;
    width: 8px;
    background: rgb(253, 179, 192);
    border-radius: 50%;
  }

  .cheek1 {
    position: absolute;
    z-index: 10000;
    margin: 12px;
    top: 4px;
    left: 12px;
  }

  .cheek2 {
    position: relative;
    margin: 12px;
    top: -14px;
    left: -9px;
  }

  .mouth {
    width: 26px;
    height: 5px;
    color: black;
    font-size: 7px;
    letter-spacing: -0.8px;
    margin: 0 auto;
    margin-top: -29px;
    transform: scale(1.5, 1);
  }
}

.nav-list {
  margin: 0;

  i {
    margin-right: 7px;
    font-size: 1.4rem !important;
    cursor: pointer;
  }

  a {
    margin: 0 auto;
    margin-right: 18px;
    font-size: 1.1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #66fcf1;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: #66fcf1;
      transition: 0.2s ease-in;

      i {
        color: #66fcf1;
        transition: 0.2s ease-in;
      }
    }

    &:not(:last-child):hover::before {
      transition: 0.2s ease-in;
      visibility: visible;
      transform: scaleX(1);
    }

    &:last-child {
      border: 3px solid #45a29e;
      border-radius: 5px;
      padding: 7px;
      margin-right: 12px;
    }

    &:last-child:hover {
      color: #66fcf1;
      border-color: #66fcf1;
      text-decoration: none;
    }
  }
}

.nav-toggle {
  position: absolute;
  display: none;
  top: 10px;
  right: 5%;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 40px;

  i {
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
  }
}

#nav-icon {
  width: 45px;
  height: 33px;
  position: relative;
  right: 15px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 7px;
    width: 50%;
    background: #6ac7b7;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    &:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      top: 0px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 15px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 30px;
    }
  }
}

#nav-icon.open span {
  &:nth-child(1),
  &:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:nth-child(2),
  &:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  &:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  &:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  &:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  &:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  &:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    padding-top: 10px;
  }

  .nav-list {
    display: none;
    text-align: center;
    margin-top: 50px;

    a {
      display: block;
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-toggle {
    display: block;
  }
}
