.project-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  height: 350px;
  width: 85vw;
  padding-bottom: 20px;

  img {
    height: 90%;
    max-height: 350px;
    width: 45%;
    max-width: 470px;
    margin-left: 0;
    margin-right: auto;
    border-radius: 3px;
  }
}

// Styles for info (text portion) of project item
.project-info {
  height: 95%;
  width: 55%;

  p,
  a {
    display: inline-block;
  }

  p {
    width: 80%;
    max-width: 500px;
    background: rgba(0, 140, 255, 0.226);
    border: 1px solid rgb(104, 104, 104);
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 25px;
  }

  i {
    margin-right: 15px;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
      color: #66fcf1;
      transition: 0.2s ease-in;
    }
  }

  .stack {
    display: flex;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    .stack-item {
      font-size: 14px;
      color: rgba(245, 245, 245, 0.836);
      opacity: 0.8;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: #66fcf1;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .project-item {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    height: auto;
    padding-bottom: 50px;
    margin-top: 10px;

    &:first-child {
      margin-top: 40px;
    }

    img {
      width: 100%;
    }
  }

  .project-info {
    width: 100%;

    h2 {
      margin-bottom: 0;
      font-size: 1.1rem;
      text-align: center;
    }

    li {
      display: block;
    }

    i {
      margin-right: 10px;
      font-size: 1.5rem;
    }

    p {
      width: 100%;
      padding: 0;
      background: transparent;
      border: none;
      text-align: left;
      margin-bottom: 10px;
    }

    .stack {
      margin-bottom: 10px;

      .stack-item {
        font-size: 13px;

        &:not(:last-child) {
          margin-right: 6px;
        }
      }
    }
  }
}
