.project-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
  height: 350px;
  width: 85vw;
  padding-bottom: 20px;

  img {
    height: 90%;
    max-height: 350px;
    width: 45%;
    max-width: 470px;
    margin-left: 0;
    margin-right: auto;
  }
}

// Styles for info (text portion) of project item
.project-info {
  height: 88%;
  width: 55%;

  p,
  a {
    display: inline-block;
  }

  p {
    width: 80%;
    max-width: 500px;
    background: rgba(0, 140, 255, 0.226);
    border: 1px solid rgb(104, 104, 104);
    border-radius: 3px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 25px;
  }

  i {
    margin-right: 15px;
    font-size: 1.8rem;
    cursor: pointer;

    &:hover {
      color: #66fcf1;
      transition: 0.2s ease-in;
    }
  }

  .stack {
    display: flex;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    .stack-item {
      font-size: 14px;
      color: rgba(245, 245, 245, 0.836);

      &:not(:last-child) {
        margin-right: 10px;
      }

      &:hover {
        color: #66fcf1;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .project-item {
    display: block;
    width: 90vw;
    text-align: center;

    img {
      height: 150px;
      width: 200px;
    }
  }

  .project-info {
    li {
      display: block;
      text-align: center;
    }

    i {
      margin-right: 5px;
      font-size: 1.1rem;
    }

    .stack {
      .stack-item {
        font-size: 11px;

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}
