.projects {
  .project-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 17px;
    border-bottom: 2px solid white;

    img {
      height: 250px;
      width: 350px;
    }

    i {
      margin: 0 7px;
      font-size: 1.7rem !important;
      cursor: pointer;

      &:hover {
        color: #66fcf1;
        transition: 0.2s ease-in;
      }
    }

    .stack {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: 0;
      margin-bottom: 15px;
      padding: 0;

      .stack-item {
        font-size: 14px;

        &:not(:last-child) {
          margin-right: 7px;
        }

        &:hover {
          color: #66fcf1;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 150px;
      width: 200px;
    }

    li {
      display: block;
      text-align: center;
    }
  }
}
