footer {
  width: 50%;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-bottom: 20px;

  i {
    margin: 0 10px;
    margin-bottom: 10px;
    font-size: 1.8rem !important;
    cursor: pointer;

    &:hover {
      color: #66fcf1;
      transition: 0.2s ease-in;
    }
  }

  span {
    font-size: 10px;

    &:hover {
      color: #66fcf1;
    }
  }
}

@media only screen and (max-width: 700px) {
  footer {
    i {
      font-size: 1.5rem !important;
      margin-bottom: 5px;
    }

    span {
      font-size: 7px;
    }
  }
}
