footer {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 25px;
}

footer i {
    margin: 0 10px;
    font-size: 1.7rem !important;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    footer i {
        font-size: 1.5rem !important;
    }
}
