$highlight-color: #40e0d0;
$base-color: #6ac7b7;
$desc-color: rgb(245, 245, 245);
$success-color: rgb(14, 180, 14);
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
