html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  color: #6ac7b7;
  background-color: #0b0c10;
}

.app {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-family: "League Spartan Bold", arial;
}

.content {
  padding: 10px 30px;
  min-height: 500px;
  max-width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: #66fcf1;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

a,
i,
span {
  color: #6ac7b7;
}

a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 700px) {
  .content {
    min-height: 50vh;
  }

  p,
  li {
    font-size: 12px;
  }
}
