@use "./_master" as global;

html,
body {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: global.$desc-color;
  background-color: #0b0c10c9;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.app {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  font-family: "Dosis", sans-serif;
  align-items: stretch;
  @include global.flex-column;
}

.content {
  padding: 10px;
  width: 100vw;
  max-width: 100%;
  margin-top: 15px;
  min-height: 70vh;
  z-index: -1;
  flex: 1;
  flex-wrap: wrap;
  @include global.flex-align-center;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
  color: global.$desc-color;
}

i {
  color: global.$base-color;
}

a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 800px) {
  .content {
    min-height: 60vh;
    padding: 10px 0;
  }

  p,
  li {
    font-size: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
