html,
body {
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #6ac7b7;
  background-color: #0b0c10c9;
}

.app {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  font-family: "League Spartan Bold", arial;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  padding: 10px;
  width: 100vw;
  max-width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  min-height: 70vh;
  z-index: -1;
}

h1,
h2 {
  color: #66fcf1;
  letter-spacing: 1px;
  flex-basis: 100%;
}

ul {
  list-style-type: none;
}

li,
a {
  text-decoration: none;
}

p {
  color: rgba(245, 245, 245, 0.836);
}

a,
i,
span {
  color: #6ac7b7;
}

a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 800px) {
  .content {
    min-height: 60vh;
    padding: 10px 0;
  }

  p,
  li {
    font-size: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
