body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: #444444;
}

.App {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    font-family: "League Spartan Bold", arial;
}

h1,
h2,
p {
    z-index: 1000;
}

i:hover,
a:hover {
    color: #006994;
    transition: ease-in 0.3s;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

a:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
